@import "tailwindcss";

* {
  box-sizing: border-box;
}

header {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* Moved styles.css content into globals.css */
.banner {
  height: 200px;
  background-color: slategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 > p {
  color: forestgreen;
}

.dis_button {
  height: 100px;
  border-radius: 15%;
  border: 5px;
  border-color: green;
}

.types-hhw {
  display: flex;
  flex-wrap: wrap;
}

a {
  padding: 5px;
  color: forestgreen;
  text-decoration: none;
}

.facilities {
  display: flex;
}

.google-map {
  flex: 1;
  padding-bottom: 0;
  border-bottom: 2px solid black;
}

.services {
  flex: 1;
}
